@tailwind base;
@tailwind components;
@tailwind utilities;
.gradientText {
  background-image: linear-gradient(315deg, rgba(92,133,231,1) 20%, rgba(20,27,158,1) 100%);
    webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
html, body{
  overflow-x: hidden;

}
/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #3B63FF;
  --_m: 
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {to{transform: rotate(1turn)}}
input::selection {
  background-color: transparent; /* No change */
  color: #ffffff; /* Maintain white text */
}

/* Ensure autofill uses the inherited colors */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px #0B0D10 inset !important; /* Inherit the background color */
    -webkit-text-fill-color: #8D8D8D !important; /* Inherit the text color */
}

/* Ensure no change in background or text color when selecting text */
input::selection {
    background-color: inherit; /* Inherit the background color */
    color: inherit; /* Inherit the text color */
}
.checkbox-container {
  display: flex;
  align-items: center;
  gap: 10px; /* Space between checkbox and label */
}
input[type="checkbox"] {
  /* Hide default checkbox */
  appearance: none;
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  background-color: 0B0D10; /* Black background by default */
  border: 1px solid #565656; /* Gray border */
  border-radius: 4px; /* Rounded corners */
  cursor: pointer;
  position: relative;
}
input[type="checkbox"]:checked {
  background-color: #3B63FF; /* Blue background when checked */
  border-color: #3B63FF; /* Change border color when checked */
}
input[type="checkbox"]:checked::before {
  content: '';
  position: absolute;
  top: 1px;
  left: 4px;
  width: 4px;
  height: 9px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

